*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: whitesmoke;
}

/** nav bar */
nav>ul>a{
    padding: 0.33vw 0.7vw;
    margin: 1vw;
    font-size: 2vw;
    font-weight: 500;
    color: darkblue; 
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}
nav>ul>a {
    padding: 0.33vw 0.7vw;
    margin: 1vw;
    font-size: 20px;
    font-weight: 500;
    color: darkblue; 
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}
nav>ul a::after{
    content : '';
    background: #444;
    width: 100%;
    height: 100%;
    border-radius: 0.8vw;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    
    }
nav>ul a:hover {
    color: white;
    
}

 nav>ul a:hover::after{
     top: 50%;
     opacity: 1;
 }


.nav {
	
	height: 150px;
	left: 0;
	padding: 0 50px;
	position:relative;
	display: flex;
	align-items: center;

	top: -50px; 
	width: 100%;
	z-index: 1;

} 

.nav {
	align-items: center;
	display: flex;
	height: 100px;
	justify-content: space-between;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
}

.button {
    display: inline-block;
    color: white;
    border-radius: 4px;
    background-color: black;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }   


.search-bar {
    display: flex;
    align-items: center;
}

.typeahead {
    padding: 0.5em;
    margin-left: 1rem;
}

/** header section */
.header {
    width: 100%;
    text-align: center;
    padding: 2em;
}

/** hero section*/
.hero {
    position: relative;
    width: calc(100vw - 4em);
    height: 100%;
    margin: 0 auto;
    border-radius: 25px;
    border: solid 5px black;
}

/* .hero-img-container {
    width: 800px;
    margin-top: 50px;
} */

.img-card {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}